<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="Disqord" value="https://www.myget.org/F/disqord/api/v3/index.json" />
	<add key="github-anu6is" value="https://nuget.pkg.github.com/anu6is/index.json" />
  </packageSources>
</configuration>