<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agora.SettingsManager</title>
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="Agora.SettingsManager.styles.css" rel="stylesheet" /> <!-- Server project styles -->
    <link rel="icon" type="image/png" href="favicon.png"/> <!-- Assuming favicon in wwwroot -->
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" /> <!-- Ensure InteractiveWebAssembly rendermode -->
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
